
.body{
    overflow: hidden;
}
.app{
    margin-left: 5px;
    margin-right: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(226, 223, 223);
}
.logo{
    width: 200px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    font-size: 15px;
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;

}
.res-card{
    width: 200px;
    height: 350px;
    padding: 5px;
    margin:4px;
    border-radius: 10px;
}
.resLogo{
    width: 100%;
    height: 150px;
}
.res-card:hover{
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    height: 350px;
    width: 200px;
    background-color: rgb(190, 188, 188);
    border: 1px solid lightgray;
    padding: 5px;
    margin: 4px;
    border-radius: 10px;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}
@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}

.food-in-mind{
    display: flex;
    
}
.food-in-mind-container {
    height: 275px;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 50px;
    overflow: hidden;
}
.food-in-mind{
    overflow-x: auto;
}
.food-in-mind-img{
    object-fit: cover;
    width: 144px;
    aspect-ratio: auto 144 / 180;
    height: 180px;
}